// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:'Montserrat', 'Padauk' , sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary : #1D3461;
$swal2-confirm-button-background-color : #1D3461;
